@import "../../../../styles/mixins";
@import "../../../../styles/colors";
:host {
  width: 100%
}
form.skill__form {
  @include flex-config(column, flex-start, flex-start, 10px, "uneven");

  label {
    display: flex;
    padding: 5px;
    .skill__name {
      min-width: 100px;
      @include ellipsis;
    }
    .skill__ab {
      // background-color: lighten($orange-rgb, 20%);
      padding: 2px;
      padding-inline: 8px;
      border-radius: 20px;
      margin-inline: 5px;
      width: 50px;
      text-align: center;
    }
  }
}
@each $name, $col in $colors {
  .skill__ab--#{$name} {
    @extend .skill__ab;
    background-color: lighten($col, 20%);

  }
  .skill__prof--#{$name} {
    background-color: $col;
    border-radius: 20px;
    @if ($col == $blue-rgb or $col == $pink-rgb) {
      .skill__name {
        color: white;
      }
    } @else {
      .skill__name {
        color: black;
      }
    }
  }
}
