<input *ngIf="isForm" [ngClass]="{
  'custom__input--blue': color === 'blue',
  'custom__input--green': color === 'green',
  'custom__input--pink': color === 'pink',
  'custom__input--orange': color === 'orange',
  'input--edit': edit === true
}" defaultValue="{{ defaultValue }}" [disabled]="disabled" class="custom__input" type="{{ type }}"
  placeholder="{{ name }}" id="{{ name }}" name="{{name}}" ngModel />
<input *ngIf="!isForm" [ngClass]="{
    'custom__input--blue': color === 'blue',
    'custom__input--green': color === 'green',
    'custom__input--pink': color === 'pink',
    'custom__input--orange': color === 'orange',
    'input--edit': edit === true
  }" defaultValue="{{ defaultValue }}" [disabled]="disabled" class="custom__input" type="{{ type }}"
  placeholder="{{ name }}" id="{{ name }}" name="{{name}}" />
