<div class="character__wrap">
  <div class="color__picker-group">
    <h4>Pick a color</h4>
    <div (click)="setColor('blue')" [ngClass]="{'selected': color === 'blue'}" class="color__picker bg--blue border--blue-darker"></div>
    <div (click)="setColor('orange')" [ngClass]="{'selected': color === 'orange'}" class="color__picker bg--orange border--orange-darker"></div>
    <div (click)="setColor('pink')" [ngClass]="{'selected': color === 'pink'}" class="color__picker bg--pink border--pink-darker"></div>
    <div (click)="setColor('green')" [ngClass]="{'selected': color === 'green'}" class="color__picker bg--green border--green-darker"></div>
  </div>
  <form *ngIf="char" (submit)="handleSubmit($event)">

    <app-character-header></app-character-header>
  </form>
  <form *ngIf="char" class="char-sheet__main" (submit)="handleSubmit($event)">
    <div class="char__body-column">
      <app-abilities></app-abilities>
      <div class="char__rest-btns">
        <app-button [color]="'orange'" [disabled]="true">
          <span>Long rest <i class="bi bi-fire"></i> </span>
        </app-button>

        <app-button [color]="'orange'" [disabled]="true">
          <span> Short rest <i class="bi bi-signpost-2-fill"></i> </span>
        </app-button>
      </div>
    </div>
    <div class="char__body-second-col">
      <app-bubble-input [color]="color" [side]="'left'" [disabled]="!edit" [defaultValue]="'0'"
        [label]="'INSPIRATION'"></app-bubble-input>
      <app-bubble-input [color]="color" [side]="'right'" [disabled]="true" [defaultValue]="char.char.prof.toString() || 'N/A'"
        [label]="'Proficiency'"></app-bubble-input>
      <app-skills></app-skills>
    </div>
    <div class="char__body-third-col">
      <div class="char__body-ac-init-speed">
        <div class="char__ac">
          <div class="outline--{{color}}-medium bg--{{color}}-lighter">
            <i class="bi bi-shield-fill color--{{color}}--lighter fill--{{color}}--lighter"></i>
            <div class="char__ac-value">12</div>
          </div>
          <small>Armor class</small>
        </div>
        <div class="char__round-wrap">
          <div class="char__round-prop bg--{{color}}-lighter outline--{{color}}-medium">
            {{ char.modifiers?.dex?.total || "N/A" }}
          </div>
          <small>Initiative</small>
        </div>
        <div class="char__round-wrap">
          <div class="char__round-prop bg--{{color}}-lighter outline--{{color}}-medium">
            12
          </div>
          <small>Speed</small>
        </div>
      </div>
      <div class="char__hp bg--{{color}}-lighter">
        <div class="max__hp outline--{{color}}-medium">
          <i class="bi bi-activity color--{{color}}--lighter"></i>
          <span>{{ char.char.hit_points || "N/A" }}</span>
        </div>
        <div class="curr__hp bg--{{color}}-lighter">
          <input type="number" name="curr_hp" [defaultValue]="char.char.curr_hp || 'N/A'" class="bg--{{color}}-lightest" />
        </div>
      </div>
    </div>
    <div class="char__body-fourth-col">
      <div class="character__description">
        <small>Last saved: {{lastSaved || 'unknown'}}</small>
        <textarea class="outline--{{color}}" (keyup)="autosave($event)" [disabled]="false"
          [defaultValue]="char.char.description || ''" [name]="'description'" rows="40"></textarea>
      </div>
    </div>
    <button type="submit" style="display: none;"></button>
  </form>
</div>
