@import "../../../styles/colors";
@import "../../../styles/mixins";
.character__wrap {
  margin-top: 20px;
  padding: {
    left: 10%;
    right: 10%;
    top: 20px;
    bottom: 20px;
  }
  @include flex-config(column, center, center, 5px, "uneven");
  .color__picker-group {
    @include flex-config(row, center, center, 5px, "uneven");
    padding: 10px;
    margin: 10px;
    border: 2px dashed $blue-rgb;
    border-radius: 50px;
    width: fit-content;
    position: relative;
    h4 {
      position: absolute;
      background-color: white;
      color: $text;
      top: -15px;
      left: 15px;
      margin: 0px;
    }
    .color__picker {
      width: 50px;
      aspect-ratio: 1/1;
      border-radius: 50%;
    }
  }

  .char-sheet__main {
    width: 100%;
    margin-top: 50px;
    @include flex-config(row, flex-start, flex-start, 50px, "even");
    flex-wrap: wrap;
    > div {
      min-width: 200px;
    }
    .char__body-column {
      .char__rest-btns {
        margin-top: 20px;
        @include flex-config(column, flex-start, flex-start, 20px, "uneven");
        button {
          width: 100%;
        }
      }
    }
    .char__body-second-col {
      @include flex-config(column, center, center, 20px, "uneven");
      > form {
        width: 100%;
      }
      form.inspo__wrap {
        margin: 10px;
        @include flex-config(row, space-around, center, 20px, "uneven");

        outline-width: 2px;
        position: relative;
        $input-width: 40px;

        input {
          width: $input-width;
          height: $input-width;
          text-transform: uppercase;
          font-size: 20px;
          text-align: center;
          position: absolute;
          left: 0;
        }
      }
    }
    .char__body-third-col {
      .char__body-ac-init-speed {
        @include flex-config(row, space-between, center, 10px, "uneven");
      }
      $size: 50px;
      .char__hp {
        width: 100%;
        height: 60px;
        border-radius: 30px;
        // padding-right: 10px;
        margin-top: 10px;
        @include flex-config(row, space-between, center, 10px, "uneven");
        &:hover {
          transform: none;
        }

        .max__hp {
          position: relative;

          height: 100%;
          aspect-ratio: 1/1;
          border-radius: 50px;
          outline-width: 3px;
          @include flex-config(row, center, center, 0px, "uneven");
          font-size: 15pt;
          font-weight: bold;
          svg {
            position: absolute;
            width: 80%;
            height: 80%;
            z-index: 1;
          }
          span {
            z-index: 2;
            color: $text;
          }
        }
        .curr__hp {
          width: calc(100% - 20px);
          height: 100%;
          border-radius: 50px;
          &:hover,
          & > *:hover {
            transform: none;
          }
          input {
            width: 100%;
            height: 100%;
            border-radius: 40px;
            // background-color: transparent;
            border: none;
            padding: 10px;
            font-size: 15pt;
            &:focus {
              border: none;
            }
          }
        }
      }
      .char__ac {
        position: relative;

        @include flex-config(column, center, center, 0px, "uneven");

        svg {
          width: 100%;
          height: 100%;
          &:first-of-type {
            // position: relative;
            stroke-width: 1px;
          }
        }
        > div {
          aspect-ratio: 1/1;
          border-radius: 100px;
          height: $size;
          width: $size;
          margin: 0px 15px 5px 15px;
          position: relative;
          @include flex-config(column, center, center, 0px, "uneven");
          &:hover {
            transform: none;
          }
        }

        .char__ac-value {
          position: absolute;
          font-size: 25px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          line-height: 21px;
          text-align: center;
          color: $text;
        }
        small {
          color: $text;
        }
      }
      .char__round-wrap {
        @include flex-config(column, space-between, center, 0px, "uneven");
        height: 100%;

        .char__round-prop {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          text-align: center;
          padding-top: 25px - 12.5px;
          padding-bottom: 25px - 12.5px;
          margin: 0px 15px 5px 15px;
          font-size: 25px;
          line-height: 21px;
          text-align: center;
          color: $text;
          &:hover {
            transform: none;
          }
          // small {
          //   font-size: 12.44pt;
          // }
        }
        small {
          color: $text;
        }
      }
    }
    form.char__abilities {
      width: 100%;
      height: 100%;
      @include flex-config(column, space-between, flex-start, 20px, "uneven");
      .single__ab {
        max-height: 50px;
        text-transform: uppercase;
        outline-width: 2px;
        @include flex-config(row, space-between, center, 10px, "uneven");
        padding: 0px;
        padding-left: 20px;
        height: fit-content;
        width: 100%;
        position: relative;

        $input-width: 50px;
        input,
        div.single__ab-modifier {
          transform-origin: bottom right;
          transition: 0.5s;
          position: absolute;
          right: 0;
          width: $input-width;
          height: $input-width;
          border: none;
          font-size: 25px;
          text-align: center;
        }

        input {
          z-index: 1;
        }
        div.single__ab-modifier {
          z-index: 2;
          padding: 0px;
          line-height: $input-width;
          font-size: 25px;
          text-align: center;
          font-kerning: $input-width;
          transform: translate(40%, -40%) scale(0.6);
        }
      }
    }
  }
  form.character__description {
    textarea {
      width: 100%;
      border: none;
      height: unset;
      background-color: transparent;
      padding: 20px;
      font-family: inherit;
      font-size: inherit;
      resize: vertical;
    }
  }
}

@keyframes rainbow {
  $colors: (
    0: $green-rgb,
    25: $yellow-rgb,
    50: $orange-rgb,
    75: $pink-rgb,
    100: $green-rgb,
  );

  @each $perc, $col in $colors {
    #{$perc + "%"} {
      color: $col;
      stroke: darken($col, 20%);

      transform: translateY(-50%) rotate((calc($perc / 100) * 360) + deg);
    }
  }
}

@keyframes swap {
  0% {
    transform: rotate(45deg);
    z-index: -10;
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes swap-back {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  50% {
    z-index: 0;
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
