div {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  div.pin__wrap {
    position: absolute;
    object-fit: cover;
    max-width: 25%;
    height: calc(25vw * 9 / 16);

    img.pin__img {
      width: 100%;
    }
    img:not(.pin__img) {
      width: 30%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
