@import "../../../styles/colors";
:host {
  &:nth-of-type(even) {
    background-color: lighten($blue-hex, 25%);
  }
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  padding-block: 5px;
  .single-char__wrap {
    width: 100%;
    display: flex;

    padding-inline: 30px;

    // border-bottom: 1px solid $blue-hex;

    a:first-of-type {
      font-weight: bold;
      width: 20%;
    }
    span {
      &:first-of-type {
        width: 10%;
      }
      &:nth-of-type(2) {
        width: 10%;
      }
      &:nth-of-type(3) {
        width: 10%;
      }
    }
  }
  &:last-of-type {
    .single-char__wrap {
      border-bottom: none;
    }
  }
}
