@import "../../../styling/Colors";

.jumbo__wrap {
    background-color: white;
    width: 80%;
    height: 300px;
    padding: 25px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: $text;
    font-size: 18pt;
    .close {
        width: 100%;
        text-align: right;
        cursor: pointer;
    }
    span {
        font-size: 22pt;
        font-weight: bold;
    }
}