@use "./colors";
@import "./mixins";

input[type="file"]:has(~ label) {
  display: none;
}
input[type="file"]:has(~ label) ~ label {
  padding: 20px;
  outline: 3px solid map-get(colors.$colors, "green");
  background-color: lighten(map-get(colors.$colors, "green"), 30%);
  border-radius: 30px;
  cursor: pointer;
  height: 100%;
  // max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.custom__input {
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  height: 40px;
  transition: 0.5s;
  border: none;
  padding-left: 30px;
  &.hide {
    display: none;
  }

  & ~ label {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border-radius: 25px;
    border: none;
    background-color: $bg--light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #343434;
  }
}

@each $name, $col in colors.$colors {
  .custom__input--#{$name} {
    @extend .custom__input;
    background-color: lighten($col, 20%);
    outline: 3px lighten($col, 10%) solid;
  }
}

textarea {
  @extend .custom__input--pink;
  height: unset;
}

.bubble__form {
  $input-width: 50px;
  width: 100%;
  margin: 10px;
  margin-left: 0px;
  padding-left: 0px;
  position: relative;
  text-transform: uppercase;
  @extend .custom__input;
  outline-width: 3px;
  @include flex-config(row, space-between, center, 10px, "uneven");
  .bubble__input,
  .bubble__input {
    padding: 0px;
    // height: 70px;
    position: absolute;
    width: $input-width;
    height: $input-width;
    input {
      text-align: center;
      padding: 0px;

      font-size: 25px;
      width: $input-width;
      height: $input-width;
    }
    @extend .custom__input;
  }
  div.bubble__text {
    width: 100%;
    transform-origin: bottom right;
    transition: 0.5s;
    outline-width: 3px;
    border: none;
    // margin: 10px;
    text-align: center;
    // @extend .custom__input;
  }

  input {
    z-index: 1;
  }
  div.sub__bubble {
    z-index: 2;
    padding: 0px;
    line-height: $input-width;
    font-size: 25px;
    text-align: center;
    font-kerning: $input-width;
    transform: translate(40%, -40%) scale(0.6);
    transform-origin: bottom right;
    transition: 0.5s;
    position: absolute;
    right: 0;
    width: $input-width;
    height: $input-width;
    border: none;
    // margin: 10px;
    font-size: 25px;
    text-align: center;
    @extend .custom__input;
  }
}

.input--edit {
  animation: fill-dots 1.5s linear infinite;
}

@keyframes fill-dots {
  from {
    outline-style: dashed;
  }
  to {
    outline-style: solid;
  }
}
