@import "../../../styling/Mixins";

.color-row {
    position: sticky;
    top: 0;
    
    @include flex-config(row, center, center, 0px, "even");

    width: 100%;
    height: 20px;
    .single-color {
      height: 100%;
    }
  }