<div class="select">
  <div class="select__wrap" (click)="setOpen(!open)">
    <strong>{{selected?.display || "Select one"}}</strong>
  </div>
    <div class="select__options" *ngIf="open">
        <div *ngFor="let opt of options"
          class="single-option"
          (click)="select(opt)"
        >
          {{opt.display}}
        </div>
    </div>
  <select [name]="field" style="display:none" [value]="selected ? selected.val : selected" >
      <option *ngFor="let opt of options"
        [value]="opt.val"
      >
        {{opt.display}}
      </option>
  </select>
</div>
