/* Color Theme Swatches in Hex */
$blue-hex: #5D6AFF;
$green-hex: #47E6B1;
$yellow-hex: #DCFC5B;
$orange-hex: #E6A547;
$pink-hex: #FE4F82;

/* Color Theme Swatches in RGB */
$blue-rgb: rgb(93,106,255, 1);
$green-rgb: rgb(71,230,177, 1);
$yellow-rgb: rgb(220,252,91, 1);
$orange-rgb: rgb(230,165,71, 1);
$pink-rgb: rgb(254,79,130, 1);


$bg--light: lighten($blue-hex, 25%);
$bg--blue: rgb(93,106,255, .5);
$bg--orange: rgb(230,165,71, .5);
$text: #343434



