@import "./Colors";
@import url("https://use.typekit.net/jgx1djn.css");
@font-face {
  font-family: nobel, sans-serif;
  src: url("https://use.typekit.net/jgx1djn.css");
}

@mixin bg--light--col {
  background-color: $bg--light;
  display: flex;
  flex-direction: column;
}

@mixin flex--row {
  display: flex;
  flex-direction: row;
}

@mixin flex--col {
  display: flex;
  flex-direction: column;
}

@mixin flex--center {
  justify-content: center;
  align-items: center;
}

@mixin font-header {
  font-family: nobel, sans-serif;
  font-weight: 800!important;
  font-style: italic;
}
