@import "./Breakpoints";
@import "./Mixins";

@media (max-width: $tablet)  {
    h2 {
      font-size: 40pt!important;
    }
    .cta__button {
      width: 250px!important;
      height: 50px!important;
      font-size: 20pt!important;
    }
  }
  @media (max-width: $small-tab) {
    span {
        flex-direction: column!important;
        justify-content: center;
        align-items: center;
    }
    h2 {
        width: 100%!important;
    }
  }
  @media (max-width: $xs) {
    h2 {
        font-size: 22pt!important;
        width: 80%!important;
    }
  }
  @media (max-height: 600px) {
    h2 {
        font-size: 32pt!important;
    }
  }