@import "../../../styling/Colors";

:global(button.custom-button) {
    width: 330px;
    height: 50px;

    align-self: center;
    margin: 20px;
    background-color: $orange-hex;
    border: none;
    border-radius: 25px;
    padding: {
        left: 15px;
        right: 15px;
    }
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
    &:hover {
        background-color: lighten($orange-hex, 20%);
    }
    &:disabled {
        background-color: lighten($orange-hex, 20%);
        cursor: not-allowed;
        svg {
            color: darken($orange-hex, 20%)
        }
        a {
            pointer-events: none;

        }
    }
}