@import "../../../styling/Mixins";

.modal__input-wrap {
  form {
    width: 100%;
    @include flex-config(column, center, center, 20px, "uneven");

    gap: 20px;
  }
  .modal__input-selects {
    flex-wrap: wrap;
    @include flex-config(row, center, center, 20px, "uneven");

    gap: 20px;
  }
}
