@import "../../../styling/Mixins";

.modal__input-wrap {
  form {
    width: 100%;
    @include flex--col;
    @include flex--center;

    gap: 20px;
  }
  .modal__input-selects {
    flex-wrap: wrap;
    @include flex--center;
    @include flex--row;
    gap: 20px;
  }
}
