@import "../../../styling/Colors";

.new__wrap {
    width: 200px;
    height: 280px;

    border-style: dashed;
    border-width: 5px;
    border-radius: 20px;
    border-color: $blue-hex;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    font-size: 40pt;
    font-weight: bold;
    color: $blue-hex;
    cursor: pointer;
}